/*
.navigation {
  font-family: Arial, Helvetica, sans-serif;
  color: #ccc;
  background-color: #fff;
  width: 100%;
}

.navigation ul {
  display: flex;
  list-style: none;
}

.navigation li {
  padding: 5px;
}

.navigation a {
  text-decoration: none;
} */